{% extends 'base.html' %}
        
    {% block content %}        

        <!-- {{ blogs }}

        {{ blogs.all }} -->

        
        
        <!-- {% for article in blogs.all %}
            <div class=" container card border-light mb-3" style="max-width: 36rem;">
                <div class="card-header">{{article.pub_date}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text">{{article.body}} <a href="{% url 'detail' article.id %}">...more</a></p>
                </div>
            </div>
        {% endfor %} -->

        {% for article in page %}
        <div class=" container card border-light mb-3" style="max-width: 36rem;">
            <div class="card-header">{{article.pub_date}}</div>
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.summary}} <a href="{% url 'detail' article.id %}">...more</a></p>
            </div>
        </div>
        {% endfor %}
        
        {% if page.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{page.previous_page_number}}">Previous</a>
        {% endif %}

        <span>{{page.number}}</span>
        <span>/</span>
        <span>{{page.paginator.num_pages}}</span>

        {% if page.has_next %}
            <a href="?page={{page.next_page_number}}">Next</a>
            <a href="?page={{page.paginator.num_pages}}">Last</a>
        {% endif %}

    {% endblock %}